# Project exclude paths
/system/target/
.idea/
gateway/gateway.iml
gateway/target/
online-course.iml
server/server.iml
server/target/
system/system.iml
business/business.iml
business/src/test/
business/target/
gateway/src/test/
server/src/test/
system/src/test/
generator/generator.iml
generator/src/main/resources/
generator/src/test/
generator/target/
/admin/public/ace/
/admin/node_modules/
file/file.iml
file/target/
/file/src/main/resources/application.yml
/web/node_modules/
