<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsu.server.mapper.my.MyUserResourceMapper">

    <!--一个用户属于多个角色,一个角色有多个资源,所以使用两次左连接,然后去重-->
    <select id="findResources" resultType="com.lsu.server.dto.ResourceDto">
        select distinct r.*
        from role_user ru
                 left join role_resource rr on ru.role_id = rr.role_id
                 left join resource r on rr.resource_id = r.id
        where ru.user_id = #{userId}
        order by r.id;
    </select>
</mapper>